body {
	background-color: #e8e8e8;
}

div {
	font-size: 18px;
	font-weight: 400;
}

p {
	font-weight: 300;
}

.tabs .indicator {
	background-color:	#ffffff; 
}

h3 {
	padding-top: 40px;
}