body {
	background-color: #e0e0e0;
}

td img{
	padding-left: 20px;
}

div {
	font-size: 18px;
	font-weight: 400;
}

p {
	font-weight: 300;
}

.tabs .indicator {
	background-color:	#ffffff; 
}